
<mat-nav-list>
  <markdown>
  ## Projetos de Tecnologia
  </markdown>
  @for (projeto of projetos; track projeto) {
    <a mat-list-item href='{{ projeto.link }}'>{{ projeto.title }}</a>
  }
  <mat-divider></mat-divider>
  <markdown>
  ## Estudos Científicos
  </markdown>
  @for (pesquisa of pesquisas; track pesquisa) {
    <a mat-list-item href='{{ pesquisa.link }}'>{{ pesquisa.title }}</a>
  }
  <mat-divider></mat-divider>
  <markdown>
  ## Produtos de Artes Visuais
  </markdown>
  @for (produtoMidiatico of produtosMidiaticos; track produtoMidiatico) {
    <a mat-list-item href='{{ produtoMidiatico.link }}'>{{ produtoMidiatico.title }}</a>
  }
</mat-nav-list>
