:host {
  // Padrão para a responsividade
  display: grid;
  height: 100vh; /* Fallback para navegadores que não suportam dvh */
  height: 100dvh; /* Usado por navegadores modernos */
  width: 100vw; /* Fallback para navegadores que não suportam dvw */
  width: 100dvw; /* Usado em navegadores modernos */
  min-width: 208px;
}

/*
* O layout atual tem tamanhos fixos para as colunas (60% e 40%).
* Isso pode não funcionar bem em telas muito pequenas.
* É necessário adicionar media queries para ajustar o layout conforme o tamanho da tela.
* Em dispositivos móveis, o layout pode ficar apertado ou mal formatado, especialmente devido à divisão fixa de colunas.
*/

/* Responsividade */

/*
* Extra Small (XSmall)
* Breakpoints.XSmall
* Menor que 600px
*/
@media (max-width: 599px) {
  :host {
    grid-template-areas: "headerArea headerArea" "mainArea mainArea" "asideArea asideArea";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto; /* Linhas ajustáveis */
    gap: 5px;
    background-color: red;
  }
}

/*
* Small
* Breakpoints.Small
* De 600px até 959px
*/
@media (min-width: 600px) and (max-width: 959px) {
  :host {
    grid-template-areas:
    "headerArea mainArea asideArea";
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto 1fr auto; /* Linhas ajustáveis */
    gap: 8px;
    background-color: blue;
  }
}

/*
* Medium
* Breakpoints.Medium
* De 960px até 1279px
*/
@media (min-width: 960px) and (max-width: 1279px) {
  :host {
    grid-template-areas:
    "headerArea headerArea"
    "mainArea asideArea";
    grid-template-columns: 9fr 1fr;
    grid-template-rows: auto 1fr auto; /* Linhas ajustáveis */
    gap: 20px;
    background-color: green;
  }
}

/*
* Large
* Breakpoints.Large
* De 1280px até 1919px
*/
@media (min-width: 1280px) and (max-width: 1919px) {
  :host {
    grid-template-areas:
    "headerArea headerArea"
    "mainArea asideArea";
    grid-template-columns: 8fr 2fr;
    grid-template-rows: auto 1fr auto; /* Linhas ajustáveis */
    gap: 30px;
    background-color: green;
  }
}

/*
* Extra Large (XLarge)
* Breakpoints.XLarge
* A partir de 1920px
*/
@media (min-width: 1920px) {
  :host {
    grid-template-areas:
    "headerArea headerArea"
    "mainArea asideArea";
    grid-template-columns: 6fr 4fr;
    grid-template-rows: auto 1fr auto; /* Linhas ajustáveis */
    gap: 50px;
    background-color: purple;
  }
}
